<div class="container">
    <div>
        <h2>Ajouter SuperMarket :</h2>
    </div>
    <form>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>ID SuperMarket</label>
            <input type="text" [(ngModel)]="newSupermarket.idSuperMarket" name="idSuperMarket" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Nom SuperMarket</label>
            <input type="text" [(ngModel)]="newSupermarket.nomSuperMarket" name="nomSuperMarket" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Localisation SuperMarket</label>
            <input type="text" [(ngModel)]="newSupermarket.localisationSuperMarket" name="localisationSuperMarket"
                class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>Date création</label>
            <input type="date" [(ngModel)]="newSupermarket.dateCreation" name="dateCreation" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Types de Supermarche </label>
            <select class="form-control form-control-lg" id="idtype" name="idtype" [(ngModel)]="newIdtype">
                <option *ngFor="let type of types" [value]="type.idtype">
                    {{type.nomtype}}
                </option>
            </select>
        </div>
        <div class="mt-2">
            <button type="submit" (click)="add()" class="btn btn-success">Ajouter</button>
        </div>
    </form>
</div>